* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 'header header header'
        'main main main'
        'main main main'
        'main main main'
        'footer footer footer';
    min-height: 100vh;
}

/* BARRA SUPERIOR */
header {
    grid-area: header;
    background-color: grey;
    height: 50px;
    display: flex;
}

header li {
    list-style-type: none;
    padding: 10px;
}

/* Parte principal de la página donde esta 
Jumbotron
Catalogo
Adicionales */

main {
    grid-area: main;
    background-color: orange;
    grid-template-rows: 100% 100% 100%;
}

/* PROMOCION (Jumbotron) */
#jumbotron {
    grid-area: main;
    background-image: url(../images/sierra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 100px;
}

/* CATALOGO */
#catalogo {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 30px 10px 30px 10px;
}

#titulocatalogo {
    width: 100%;
    text-align: center;
}

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.productos li {
    list-style: none;

}

.productos li img {
    height: 300px;
    width: 300px;
}


/* ADICIONAL */
.adicional {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 600px;
    padding-bottom: 30px;
    place-content: center;

}

#adicionalareaA {
    background-image: url(../images/soldador.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding-top: 50px;

}

#adicionalareaB {
    background-color: purple;
    height: 500px;
}

footer {
    grid-area: footer;
    display: flex;
}

footer li {
    flex-direction: row;
}



/* Ajuste a los diferentes tamaños de pantallas
@media (max-width: 400px){
    .navegador {
        height: 10px;
        justify-content: space-around;
        font-size: 20px;
        background-color: blue;
    }
}

@media (min-width: 401px) and (max-width: 600px){
    .navegador {
        justify-content: space-around;
        font-size: 20px;
        background-color: yellow;
    }
}

@media (min-width: 601px) and (max-width: 1024px){
    .navegador {
        height: 10px;
        justify-content: space-around;
        font-size: 20px;
        background-color: red;
    }
} */